<div class="landing-page"><div class="form-appointment">
  <div class="wpcf7" id="wpcf7-f560-p590-o1">
    <form action="/landing-page-template-do-not-delete/#wpcf7-f560-p590-o1" method="post" class="wpcf7-form" novalidate="novalidate" _lpchecked="1">
      <div style="display: none;">
        <input type="hidden" name="_wpcf7" value="560">
        <input type="hidden" name="_wpcf7_version" value="3.5">
        <input type="hidden" name="_wpcf7_locale" value="">
        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f560-p590-o1">
        <input type="hidden" name="_wpnonce" value="dbb28877d5">
      </div>

      <div class="group">
        <div style="width: 48%; float: left;">
          <span class="wpcf7-form-control-wrap text-680">
            <input type="text"
                  name="text-680"
                  value=""
                  size="45"
                  class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                  aria-required="true" placeholder="Name">
          </span><br>

          <span class="wpcf7-form-control-wrap email-680">
            <input type="email"
                  name="email-680"
                  value=""
                  size="45"
                  class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                  aria-required="true" placeholder="Email">
          </span><br>

          <span class="wpcf7-form-control-wrap tel-630">
            <input type="tel"
                   name="tel-630"
                   value=""
                   size="45"
                   class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                   aria-required="true" placeholder="Phone">
          </span><br>

          <span class="wpcf7-form-control-wrap textarea-398">
            <textarea name="textarea-398"
                      cols="40"
                      rows="10"
                      class="wpcf7-form-control wpcf7-textarea"
                      placeholder="Special notes, concerns, or requirements">
            </textarea>
          </span>
        </div>

        <div style="width: 48%; float: right;">
          <h4>How would you like to subscribe to the alerts?</h4>
          <p>
            <span class="wpcf7-form-control-wrap radio-98">
              <span class="wpcf7-form-control wpcf7-radio">
                <span class="wpcf7-list-item">
                  <label>
                    <input type="radio" name="radio-98" value="Email">&nbsp;
                    <span class="wpcf7-list-item-label">Email</span>
                  </label>
                </span>
                <span class="wpcf7-list-item">
                  <label>
                    <input type="radio" name="radio-98" value="Phone">&nbsp;
                    <span class="wpcf7-list-item-label">Slack</span>
                  </label>
                </span>
              </span>
            </span>
          </p>

          <h4>What project types are you interested in?</h4>
          <p>
            <span class="wpcf7-form-control-wrap checkbox-465">
              <span class="wpcf7-form-control wpcf7-checkbox">
                <span class="wpcf7-list-item">
                  <label>
                    <input type="checkbox" name="checkbox-465[]" value="Monday">&nbsp;
                    <span class="wpcf7-list-item-label">Chemical Processes/Industrial Manufacturing</span>
                  </label>
                </span>
                <span class="wpcf7-list-item">
                  <label>
                    <input type="checkbox" name="checkbox-465[]" value="Tuesday">&nbsp;
                    <span class="wpcf7-list-item-label">Renewable Energy</span>
                  </label>
                </span>
                <span class="wpcf7-list-item">
                  <label>
                    <input type="checkbox" name="checkbox-465[]" value="Wednesday">&nbsp;
                    <span class="wpcf7-list-item-label">Waste Disposal</span>
                  </label>
                </span>
                <span class="wpcf7-list-item">
                  <label>
                    <input type="checkbox" name="checkbox-465[]" value="Thursday">&nbsp;
                    <span class="wpcf7-list-item-label">Energy Efficiency/Fuel Switching</span>
                  </label>
                </span>
                <span class="wpcf7-list-item">
                  <label>
                    <input type="checkbox" name="checkbox-465[]" value="Friday">&nbsp;
                    <span class="wpcf7-list-item-label">Agriculture</span>
                  </label>
                </span>
                <span class="wpcf7-list-item">
                  <label>
                    <input type="checkbox" name="checkbox-465[]" value="Friday">&nbsp;
                    <span class="wpcf7-list-item-label">Forestry and Land Use</span>
                  </label>
                </span>
                <span class="wpcf7-list-item">
                  <label>
                    <input type="checkbox" name="checkbox-465[]" value="Friday">&nbsp;
                    <span class="wpcf7-list-item-label">Transportation</span>
                  </label>
                </span>
                <span class="wpcf7-list-item">
                  <label>
                    <input type="checkbox" name="checkbox-465[]" value="Friday">&nbsp;
                    <span class="wpcf7-list-item-label">Household Devices</span>
                  </label>
                </span>
                <span class="wpcf7-list-item">
                  <label>
                    <input type="checkbox" name="checkbox-465[]" value="Friday">&nbsp;
                    <span class="wpcf7-list-item-label">Other</span>
                  </label>
                </span>
              </span>
            </span>
          </p>

          <h4>What project registries would you like to subscribe to?</h4>
          <p>
            <span class="wpcf7-form-control-wrap checkbox-246">
              <span class="wpcf7-form-control wpcf7-checkbox">
                <span class="wpcf7-list-item">
                  <label>
                    <input type="checkbox" name="checkbox-246[]" value="Morning">&nbsp;
                    <span class="wpcf7-list-item-label">Gold Standard (GSR)</span>
                  </label>
                </span>
                <span class="wpcf7-list-item">
                  <label>
                    <input type="checkbox" name="checkbox-246[]" value="Afternoon">&nbsp;
                    <span class="wpcf7-list-item-label">Acorn</span>
                  </label>
                </span>
                <span class="wpcf7-list-item">
                  <label>
                    <input type="checkbox" name="checkbox-246[]" value="Afternoon">&nbsp;
                    <span class="wpcf7-list-item-label">Nori (NOR)</span>
                  </label>
                </span>
                <span class="wpcf7-list-item">
                  <label>
                    <input type="checkbox" name="checkbox-246[]" value="Afternoon">&nbsp;
                    <span class="wpcf7-list-item-label">Puro Earth (PUR)</span>
                  </label>
                </span>
                <span class="wpcf7-list-item">
                  <label>
                    <input type="checkbox" name="checkbox-246[]" value="Afternoon">&nbsp;
                    <span class="wpcf7-list-item-label">Amercian Carbon Registry (ACR)</span>
                  </label>
                </span>
                <span class="wpcf7-list-item">
                  <label>
                    <input type="checkbox" name="checkbox-246[]" value="Afternoon">&nbsp;
                    <span class="wpcf7-list-item-label">Climate Action Reserve (CAR)</span>
                  </label>
                </span>
                <span class="wpcf7-list-item">
                  <label>
                    <input type="checkbox" name="checkbox-246[]" value="Afternoon">&nbsp;
                    <span class="wpcf7-list-item-label">Architecture for REDD+ Transactions (ART)</span>
                  </label>
                </span>
                <span class="wpcf7-list-item">
                  <label>
                    <input type="checkbox" name="checkbox-246[]" value="Afternoon">&nbsp;
                    <span class="wpcf7-list-item-label">PCM</span>
                  </label>
                </span>
                <span class="wpcf7-list-item">
                  <label>
                    <input type="checkbox" name="checkbox-246[]" value="Afternoon">&nbsp;
                    <span class="wpcf7-list-item-label">French Minstry of Ecological Transition and Territorial Cohesion</span>
                  </label>
                </span>
              </span>
            </span>
          </p>
        </div>
      </div>

      <div style="text-align: center; padding-top: 2em; border-top: 1px solid rgb(153, 202, 129); margin-top: 1em;"><input type="submit" value="Subscribe to Alerts" class="wpcf7-form-control wpcf7-submit"><img class="ajax-loader" src="http://www.professionalaudiologicalservices.com/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;"></div>
      <div class="wpcf7-response-output wpcf7-display-none"></div></form></div></div></div>

<!-- <div class="wrapper-box">
  <div class="container">
    <h2 class="text-center mb-5">Allied Offsets Alerts Service Subscription</h2>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="formData" (ngSubmit)="onSubmit(formData.value)">
          <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email"formControlName="Email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>

          <div class="form-group">
            <label for="fullname">Full Name</label>
            <input type="text" class="form-control" name="Fullname" placeholder="Full Name" formControlName="Fullname">
          </div>

          <div class="form-group">
            <label for="comment">Comment</label>
            <textarea class="form-control" formControlName="Comment" name="Comment">
            </textarea>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="!formData.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div> -->
